<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <img src="./app/assets/images/epo blue heads logo.png" 
                 class="img-responsive center-block"
                 style="max-height:300px;padding-bottom:50px"/>
        </div>
        <div class="row"  >
            <div class="text-center">Developed by:</div>
            <font color="darkorange">
                <h4 class="text-center">Vishal Y Jagani</h4>
                <h4 class="text-center">Priya Kulkarni</h4>
                <h4 class="text-center">Naveen Kumar R</h4>
            </font>
        </div>
    </div>
</div>